<!DOCTYPE html>
<html>

<head>
    <title>Passport</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/users/logout">Logout</a></li>
            <li><a href="/users/login">Login</a></li>
            <li><a href="/">Home</a></li>
        </ul>
    </nav>
    <header>
        <h1>Hi</h1>
        <h2>from DCT</h2>
    </header>
    <main>
        <p>In jayanagar</p>
    </main>
</body>

</html>