<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/users/logout">Logout</a></li>
            <li><a href="/users/login">Login</a></li>
            <li><a href="/">Home</a></li>
        </ul>
    </nav>
    <header>
        <h1>Login using...</h1>
    </header>
    <main>
        <a class="google-btn" href = "/users/google">Google+</a>
    </main>
</body>
</html>